/* google lota font linked */

body {
    font-family: 'Lato', sans-serif;
}


/* universal style section */

.section-btn{
    color:white;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    border-radius: 5px;
}


.section-details{
    font-weight: 400;
    font-size: 18px;
    color: #27272799;
    margin: 30px 0px;
    width: 610px;
}
/* banner section related css style */
.banner-section{
    display: flex;
    gap: 100px;
    background: #e554731a;

    ;
}
.banner-text-section{
    margin-left: 240px;
}
.banner-img-section{
    margin-right: 240px;
}

.banner-title{
    font-weight: 800;
    font-size: 80px;
    color: #272727;
    margin-bottom: 0px;

}


/* Our featured Flowers section related css style */

.featured-text{
   justify-content: center;
}

.section-title{
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: #272727;
}


.featured-section-details{
    font-weight: 400;
    font-size: 18px;
    color: #27272799;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    

}

.featured-img{
    display: flex;
    align-items: center;
    gap: 140px;
    justify-content: center;
  
}
.flower-img{
    width: 464; 
    height: 538;
    align-items: center;
    justify-content: center;
    border-radius: 300PX 300PX 0PX 0PX;
    padding-top: 30px;

}
#flower-img-1{
    background: #a7216226;;
}
#flower-img-2{
    background: #0597a026;
}
#flower-img-3{
    background: #477d1126;
}
.flower-img-details{
    font-weight: 400;
    font-size: 18px;
    color: #27272799;
    text-align: center;
}