/* google lota font linked */

body {
    font-family: 'Lato', sans-serif;
}


/* universal style section */

.section-btn{
    color:white;
    background: #E55473;
    padding: 20px 43px;
    border: none;
    border-radius: 5px;
}


.section-details{
    font-weight: 400;
    font-size: 18px;
    color: #27272799;
    margin: 30px 0px;
    width: 610px;
}


.featured-section-details{
    font-weight: 400;
    font-size: 18px;
    color: #27272799;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}


/* banner section related css style */
.banner-section{
    display: flex;
    gap: 100px;
    background: #e554731a;

    ;
}
.banner-text-section{
    margin-left: 240px;
}
.banner-img-section{
    margin-right: 240px;
}

.banner-title{
    font-weight: 800;
    font-size: 80px;
    color: #272727;
    margin-bottom: 0px;

}


/* Our featured Flowers section related css style */
.featured-section{
    margin-top: 150px;
}

.featured-text{
   justify-content: center;
}

.section-title{
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: #272727;
}



.featured-img{
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-top: 50px;
  
}
.flower-img{
    width: 464; 
    height: 538;
    align-items: center;
    justify-content: center;
    border-radius: 300PX 300PX 0PX 0PX;
    padding-top: 30px;

}
#flower-img-1{
    background: #a7216226;
    padding-top: 55px;
}
#flower-img-2{
    background: #0597a026;
    padding: 100px 0px 20px 0px;
}
#flower-img-3{
    background: #477d1126;
}
.flower-img-details{
    font-weight: 400;
    font-size: 18px;
    color: #27272799;
    text-align: center;
    
}

/* support section related css style */
.support-section{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
    background: #2727270d;
    margin: 150px 22% 0% 22%;
    padding: 70px 0px 50PX ;
}

/* offer section related css */
.offer-section{
    display: flex;
    justify-content: center;
    gap: 180px;
    align-items: center;
    margin-top: 150px;
    background: #e554730d;
    padding: 50px 400px;
}

#span-off{
    color: #E55473;
}
#sing-up-btn{
   margin-left: 40%;
   margin-top: 20px;
} 

/* social media (instragrm) related css */

.social-section{
    margin-top: 150px;
}
.social-section-img{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin: 70px 300px;
}

.social-section-img-item{
    height: 400px;
    width: 350px;
}

/* input section related css style */
.input-section{
    background: url('../image/Rectangle\ 9.png');
    margin: 200px 225px;
    padding: 110px;
}

.input-section-item-input{
    display: flex;
    justify-content: center;
 
   
}

#email{
    padding: 15px;
    width: 500px;
}
/* footer related css style  */
.footer{
    background: #272727;
    padding-top: 120px;
    padding-bottom: 30px;
}

.footer-title{
    align-items: center;
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    color: #ffffff;
}

.footer-details{
font-weight: 400;
font-size: 18px;
color: #ffffff;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
}
.copyright{
    padding-top: 80px;
    display: flex;
    color:#ffffff;
    justify-content: center;
}